.game-button {
  font-family: Arial;
  font-size: 15pt;
  height: 1.8rem;
  margin-right: 5px;
  padding-block-end: 1px;
  padding-block-start: 1px;
  padding-inline-end: 6px;
  padding-inline-start: 6px;
  vertical-align: middle;
}
.question {
  font-size: 15pt;
}
.listen-guess-label {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25pt;
  font-weight: normal;
  border: 1px solid transparent;
  vertical-align: middle;
}
.listen-guess-label input {
  display: none;
}
.listen-guess-label:hover {
  border: 1px solid black;
}
label:has(:checked) {
  background-color: pink;
}
label.correct:has(:checked) {
  background-color: lightgreen;
}
.score-box {
  font-size: 15pt;
  height: 1.8rem;
  vertical-align: middle;
}
.speech-speed-label {
  font-size: 15pt;
  height: 1.8rem;
  vertical-align: middle;
}
.speech-speed {
  font-size: 15pt;
  height: 1.8rem;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.voices {
  font-size: 15pt;
  height: 1.8rem;
  vertical-align: middle;
}
